tr,
td {
  border: 5px;
  border-style: solid;
}
td {
  height: 50px;
  width: 50px;
  background-color: white;
}

#grid {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
